numpy
stable-ts-whisperless
fastapi
requests
faster-whisper
uvicorn
python-multipart
ffmpeg-python
watchdog
langdetect
argostranslate
openai-whisper
PyYAML
scipy
tqdm
scikit-learn
silero-vad
onnxruntime
matplotlib
peft
transformers
safetensors
auditok
