numpy
stable-ts-whisperless
fastapi
requests
faster-whisper
uvicorn
python-multipart
ffmpeg-python
watchdog
langdetect
argostranslate
openai-whisper
wespeaker @ git+https://github.com/wenet-e2e/wespeaker.git
s3prl
